@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}
body{
    background: rgba(243, 242, 242, 0.363);
}

.custom-text-line{
    line-height: 14px;
}
/* Custom scrollbar styles for WebKit browsers */
::-webkit-scrollbar {
    width: 12px;
    height: 20px;
    display: none;
    /* Width of the scrollbar */
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1; /* Background color of the scrollbar track */
  }
  
  ::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded corners for the scrollbar thumb */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the scrollbar thumb when hovered */
  }
  /* Custom scrollbar styles for Firefox */
.scrollable {
    scrollbar-width: thin; /* or 'auto' or 'none' */
    scrollbar-color: #888 #f1f1f1; /* Scrollbar thumb color and track color */
  }
  
  
.animated {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom{
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 2px;
  background: #000;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle{
  transform: translateY(7px);
}
.hamburger-bottom{
  transform: translateY(14px);
}

.open{
  transform: rotate(90deg);
  transform: translateY(0px);
}

.open .hamburger-top{
  transform: rotate(45deg) translateY(6px) translate(6px);
}
.open .hamburger-middle{
  display: none;
}

.open .hamburger-bottom{
  transform: rotate(-45deg) translateY(6px) translate(-6px);
}

.product-details ul li{
  margin: 0.5rem 0px;
}
.hover-trigger:hover .hover-trigger-hover {
  transform: scaleX(1);
}

/* .active-page {
  color: white!important;
} */

.otp {
  /* display: nline-blocki; */
  width: 56px;
  height: 56px;
  text-align: center;
  border: 1px solid rgba(232, 233, 237, 1);
  border-radius: 8px;
  /* margin-right: 11px; */
  background: white;
}

.otp:focus {
  border: 1px solid #e0e0e0 !important;
  border-radius: 4px;
}